/*
Using RESTful API to access Baidu Voice-Recognition service.
this config file describes the regulation of calling Baidu's RESTful interfaces. 
*/

baidu_voice
{
	platform="cloud";
	mac_addr="56:84:7a:fe:97:99";
	api_key="YGyI3APWnLGSiIFUWEnhBEoC";
	secret_key="fc4d81ef45486b17da48d6d2e81b65d5";
	path="test.pcm";
	
	action0
	{
		opt="POST";
		tools="curl_s";
		params
		{
			uri
			{
				opt="APPEND";
				tools="string_append";
				param
				{
					prefix
					{
						tools="get_null";
						ret_data
						{
							ret_type="STRING";
							get_data="https://openapi.baidu.com/oauth/2.0/token?grant_type=client_credentials&";
						}
					}
					client_id
					{
						tools="get_api_key";
						ret_data
						{
							ret_type="STRING";
							get_data="client_id=";
						}
					}
					client_secret
					{
						tools="get_secret_key";
						ret_data
						{
							ret_type="STRING";
							get_data="&client_secret=";
						}
					}
				}
			}
		}
		ret_data
		{
			ret_type="JSON";
			storage=1;
			get_key="access_token";
		}
	}
	
	action1
	{
		opt="PACKAGE";
		tools="json_wrapper";
		json_item
		{
			format="pcm";
			rate=8000;
			channel=1;
			token
			{
				tools="get_access_token";
				ret_data
				{
					ret_type="STRING";
				}
			}
			cuid
			{
				tools="get_mac_addr";
				ret_data
				{
					ret_type="STRING";
				}
			}
			speech
			{
				tools="base64_encode";
				param
				{
					tools="get_path";
					ret_data
					{
						ret_type="STRING";
					}
				}
				ret_data
				{
					ret_type="STRING";
				}
			}
			len
			{
				tools="get_raw_size";
				param
				{
					tools="get_path";
					ret_data
					{
						ret_type="STRING";
					}
				}
				ret_data
				{
					ret_type="INT";
				}
			}
		}
		ret_data
		{
			ret_type="JSON-PACKAGE";
			storage=1;
			get_key="json_buffer";
		}
	}
	
	action2
	{
		opt="APPEND";
		tools="curl_slist_append";
		param
		{
			http_header="Content-Type: application/json; charset=utf-8";
			content_len
			{
				tool="json_parser";
				param
				{
					tool="get_json_buffer";
					ret_data
					{
						ret_type="JSON-PACKAGE";
					}
				}
				ret_data
				{
					ret_type="INT";
					storage=1;
					get_key="json_buffer_len";
				}
			}
		}
		ret_data
		{
			ret_type="curl_slist";
			storage=1;
			get_key="http_header";
		}
		
	}
	
	action3
	{
		opt="POST";
		tools="curl_setopt";
		uri="http://vop.baidu.com/server_api";
		request=1;
		delay=30;
	}
}

