#include "config/b.config"

a_a {
 k1 = "aa";
 k2 = 7; k3 = "bb";

 x {
  k1 = /* comment */ 2;
  k2 = 8;
 }

 y : a_a.x {
  k1 = 33;
  k2 = NULL;
  k3 = "more";
 }
}

/* multi line comment
that goes on forever */

a_c {
  k1 = "first part "
       "second part " 
       "third part";
  k2 = "aa";
}

// comment
a_d { k1 = 12.33;}
